// colors
$c-blue: #2b81fe;
$c-green: #29d286;
$c-red: #dd1515;
$c-purple: #dd15d7;
$c-yellow: #ffd800;
$c-orange: #ff9200;

$c-background: #f5f5f5;
$c-reduced-presence-level-1: #afafaf;
$c-reduced-presence-level-2: #f9f9f9;
$c-tile-separator: #eee;
$c-highlight: $c-blue;
$c-error: $c-red;
$c-success: $c-green;
$c-interception: $c-orange;
$c-route-post: $c-blue;
$c-route-get: $c-green;
$c-route-delete: $c-red;
$c-route-put: $c-purple;
$c-route-patch: $c-yellow;

// layout
$l-max-content-width: 1024px;
$l-header-height: 60px;
