@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import "vars";

html, body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: $c-background;
}

* {
    box-sizing: border-box;
}